$bcg-color-blue: #94e8ff;
$accent-color: #FF8A56;
$purple-color: #B16CEA;
$bcg-color-green: #93ff99;
$black-color: #000000;
$gray-color: #666666;
$white-color: #ffffff;
$service-color: #FF5E69;
$blue-color: #3C46FF;