$bcg-color-blue: #94e8ff;
$accent-color: #FF8A56;
$orange-color: #FFA84B;
$purple-color: #B16CEA;
$bcg-color-green: #a7ffab;
$black-color: #000000;
$gray-color: #666666;
$white-color: #ffffff;
$service-color: #FF5E69;
$blue-color: #3C46FF;
$border-color: rgba(255, 255, 255, 0.30);
$border-hex-color: #E5E5E5;
$bcg-color-purple: #ddb5ff;