.header {
    padding: 40px 0px 40px 0px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        color: $purple-color;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 2px;
    }

    &__items {
        display: flex;
        gap: 40px;
    }

    &__link {
        color: $black-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.75;
        transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover, &:focus {
            color: $accent-color;
        }
    }
}